body {
    background-color: lavender;
}
.button {
    font-size: 24px;
    font-style: bold;
    text-align: center;
    vertical-align: middle;
    border: none;
}
.circle {
    border-radius: 50%;
    padding: 4px 8px;
    background-color: #ff00ff;
}
.square {
    padding: 4px 8px;
    background-color: #00ffff;
}
.triangle {
    width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 35px solid #555;
    background-color: lavender;
    padding: 0px;
}    
.triangleplus {
    left: -31px;
    top: 5px;
    position: relative;
    font-size: 24px;
    font-style: bold;
}
    